{% extends "base.html" %}

{% block content %}

<div class="bg-white-100">
    <section class="container mx-auto">
        <section class="p-10 h-screen">
            <div class="py-2">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-green-600 dark:text-green-600">Your Timeline</h2>
                <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">A brief history of time... Check out who you've followed from the beginning</p>

            </div>

<!-- Timeline element -->
            <ol class="relative border-l border-gray-200 dark:border-gray-700">   
                {% for subscription in subscriptions %}               
                <li class="mb-10 ml-6">            
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <img class="h-6 w-6 rounded-full object-cover"
                        src="{{ subscription.thumbnail_default_url }}"
                        alt="{{ subscription.title }}">

                    </span>
                    <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ subscription.title }}<span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ml-3">Category</span></h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Subscribed on {{ subscription.published_at.strftime('%d/%m/%Y') }}</time>
                    <!-- <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Favorite channel Today</p> -->
                </li>
                {% endfor %}
            </ol>
  
{% endblock %}